body{
	background-image: url(imagenes/image.png);
	background-repeat: no-repeat;	background-size: cover;
	}

#imagen1{
		margin-top: 5%;
		margin-bottom: 5%
	}

/* Títulos */ 
	h1 {
		color: #EBEEC2;
		text-align: center;
		font-family: Century Gothic;	
		font-size: 3em;
		font-weight: bold;
	 }
	 h2 {
		color: #EBEEC2;
		font-family: Century Gothic;	
		text-decoration: underline; 
		text-align: left;
 		font-size: 1.5em;
		font-weight: bold;
	 }	 
	 h3 {
		color: #EBEEC2;
		font-family: Century Gothic;	
		text-align: center;
 		font-size: 1.5em;
		font-weight: bold;
	}
	
	
/* Párrafo */

	p {
		color: #F5F5E3;
		font-family: Century Gothic;
		font-size: 1em;
		text-align: justify;
		margin-left: 3%;
		margin-right:4%;
		}
	
	
/* Capas */

	header {
			width: 100%;
			}
				
	nav{
		background-color: #E8E8AC;
		float: left;
		margin-top: 1%;
		width: 15%;
		}
		nav a{ color: white; text-decoration: none; transition: 0.1s;}
		
		
	main{
		background-color: rgba(62,62,62, 0.7);
		margin-top: 1%;
		margin-bottom: 10%; 
		margin-left: 2%;
		float: left;
		overflow-y: scroll;
		width: 70%;
		padding: 16px 5%;
		}
		main a:link{ color: yellow; text-decoration: none; transition: 0.1}
		
			
	#actualizaciones{
		margin: auto;
		width: 50%;
		background-color: #151511;
 		clear: both;	
	}
	
	footer{
		background-color: #F2F5DA;
		width: 100%;
		font-size: 0.8em;
		font-family: Century Gothic;
		text-align: center;
		clear: both; 
		}	
	 footer a{ text-decoration: underline; color: #9C9C8E; font-size: 1em}
	 footer a:hover {text-decoration: underline; color: #E5E6D2; font-size: 1.2em}

		
/* Tabla del nav */



	nav table{ 
		width: 100%;
		text-align: center;
	}
	
	nav caption{
		font-family: Century Gothic;
		color: white;
		font-weight: bold;
	}
		
	nav td{
		background-color: #9E9E74;
		height: 50px;
		font-family: Century Gothic; 
		font-weight: bold;
		text-align: center;
		transition: 0.1s;
		}
		nav td:hover{ height: 55px; background-color: #4E4E3B; transition: 0.2s; }
		nav td:active{ background-color:white; transition: 0.1s }

	
/* Tabla de contacto y enlaces  */

	main table{
		margin-top: 5%;
		margin-bottom: 5%;
		text-align: center;
		width: 100%;
	}
	main tr{
		font-family: Century Gothic;
		height: 70px;
		color:white;
		font-weight: bold;
		}
	.link{
		border-style: solid;
		border-color: white;
		background-color: black;
		transition: 0.1s;
	} 		
	.link:hover{ height: 55px; background-color: #4E4E3B; transition: 0.2s; }
	.link a{	
		color: yellow;
	}
	.link:active{ background-color:black; transition: 0.1s}
	.personas{
		background-color: #9E9E74;
		font-size: 2em;
	}	
	
/* Tabla de enlaces descarga */

	.enlaces{
		color:white;
		font-weight: bold;
		font-family: Century Gothic;
		text-align: center;
		background-color: #4E4E3B;
		border-style: solid;
		border-color: black;
		border-width: 2px;
		width: 100%;
		height:70px;
		transition: 0.1s;
		}
		.enlaces:hover{ height: 80px; background-color: black; transition: 0.2s; }
		.enlaces:active{ background-color:white; transition: 0.1s }


/* Links de Instagram */

	#instagram{
		color: #8E872A; 
	}
	#instagram:active{
		color: black; transition:0.1s;
	}

	
/* Redirección a nosotros */

	#nosotros_lista{
	color: yellow;
	transition: 0.1s;
	}
	#nosotros_lista:active{
		color:white;
		transition: 0.2s;
	}


/* Redirección a documentos */
	#documentos_lista{
	color: yellow;
	transition: 0.1s;
	}
	#documentos_lista:active{
		color:white;
		transition:0.2s;
	}

	
/* Links a documentos */	

	#enlaces_docu{
	color: white;
	}
	
/* Listas entrega */	

	
	ul li{
    font-size: 1.1em;
	font-family: Oswald;
	text-align:left;
	color: #F5F5E3;
	}

}

/* Botón nav */	

	 nav #menu_botón{
	 display: none;
	 background-color: :#384B33 ;
	 height: 5px;
	 width: 100%;
	 cursor: pointer;
	}
	
@media screen and (max-width: 779px){
	header, nav, main { width:100%; margin:0px; margin-bottom: 30%;}
	p {font-size:1em;}
	nav #menu_boton { display: block;}
	#actualizaciones{ width:100%}
	.enlaces {width:50%; margin:0;}
	

	}
	
	
	
#container {
margin: auto;
}
	
	